<div th:fragment="html">
	<header class="header">
		<nav class="navbar">
			<!-- Search Box-->
			<div class="container-fluid">
				<div class="navbar-holder d-flex align-items-center justify-content-between">
					<!-- Navbar Header-->
					<div class="navbar-header">
						<a href="home" class="navbar-brand d-none d-sm-inline-block">
						<div class="brand-text d-none d-lg-inline-block"><span>USC-</span><strong>Backstage Management</strong></div>
						<div class="brand-text d-none d-sm-inline-block d-lg-none"></div></a>
					</div>
				</div>
			</div>
		</nav>
	</header>
</div>
