<template th:fragment="html(title)" >
	<!-- vue.js 格式化日期用的 -->
	<script src="js/moment/2.22.2/moment.js"></script>
	<!-- bootstrap -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<link href="vendor/bootstrap/css/bootstrap.min.css"  rel="stylesheet">
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- css-->
	<link rel="stylesheet" href="css/back/default.css" id="theme-stylesheet">
    <!--vue.js+axios-->
	<script src="js/vue/2.5.16/vue.min.js"></script>
	<script src="js/axios/0.17.1/axios.min.js"></script>

	<!--sweetAlert-->
	<link rel="stylesheet" href="vendor/sweetalert/sweetalert.css" id="theme-stylesheet">
	<script src="vendor/sweetalert/sweetalert-dev.js"></script>

	<!--chart.js-->
	<script src="vendor/chart.min.js"></script>

	<script>

	//判断是否为空
	function checkEmpty(value,text){
		if(null==value || value.length==0){
            swal(text+"不能为空","","error")
//			alert(text+ "不能为空");
			return false;
		}
		return true;
	}	
	
    //获取地址栏参数的函数
    function getUrlParms(para){
	    var search=location.search; //页面URL的查询部分字符串
	    var arrPara=new Array(); //参数数组。数组单项为包含参数名和参数值的字符串，如“para=value”
	    var arrVal=new Array(); //参数值数组。用于存储查找到的参数值
	 
	    if(search!=""){	
	        var index=0;
	        search=search.substr(1); //去除开头的“?”
	        arrPara=search.split("&");
	 
	        for(i in arrPara){
	            var paraPre=para+"="; //参数前缀。即参数名+“=”，如“para=”
	            if(arrPara[i].indexOf(paraPre)==0&& paraPre.length<arrPara[i].length){
	                arrVal[index]=decodeURI(arrPara[i].substr(paraPre.length)); //顺带URI解码避免出现乱码
	                index++;
	            }
	        }
	    }
	 
	    if(arrVal.length==1){
	        return arrVal[0];
	    }else if(arrVal.length==0){
	        return null;
	    }else{
	        return arrVal;
	    }
    }	
    
    //判断是否数字 (小数和整数)
	function checkNumber(value, text){
		
		if(value.length==0){
			alert(text+ "不能为空");
			return false;
		}
		if(isNaN(value)){
			alert(text+ "必须是数字");
			return false;
		}
		return true;
	}
    //判断是否整数
	function checkInt(value, text){
		
		if(value.length==0){
            swal(text+"不能为空","","error")

			return false;
		}
		if(parseInt(value)!=value){
            swal(text+"必须是整数","","error")
			return false;
		}
		return true;
	}

    //跳转函数
    function jump(page,vue){
		if('first'== page && !vue.pagination.first)
			vue.list(0);
		else if('pre'== page &&	vue.pagination.hasPrevious )
			vue.list(vue.pagination.number-1);
		
		else if('next'== page && vue.pagination.hasNext)
			vue.list(vue.pagination.number+1);					
		
		else if('last'== page && !vue.pagination.last)
			vue.list(vue.pagination.totalPages-1);    	
    }
    //跳转函数
    function jumpByNumber(start,vue){
    	if(start!=vue.pagination.number)
			vue.list(start);       	
    }
	</script>	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 	
	<title th:text="${title}" ></title>
</template>
