<div th:fragment="html">
	<!-- Main Navbar-->
	<header >
		<nav class="navbar">

			<div class="container-fluid">
				<div class="navbar-holder d-flex align-items-center justify-content-between">
					<!--<div class="navbar-header">-->
					<div >
						<span><a href="admin_useinfo">TMS-工夹具全寿命智能管理系统</a></span>
					</div>
					<!-- Navbar Menu -->
					<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <span th:if="${null!=session.user}">
                            <!--姓名：-->
                            <!--<a href="#" th:text="${session.user.name}"></a>-->
							职位：
                            <a href="#" th:text="${session.user.position}" style="padding-right:30px"></a>
                            <a href="forelogout" >退出登录</a>
                        </span>
						<!--<span th:if="${null==session.user}">-->
                            <!--<a href="login">请登录</a>-->
                            <!--<a href="register">免费注册</a>-->
                        <!--</span>-->

					</ul>
				</div>
			</div>
		</nav>
	</header>
</div>