<div th:fragment="html">
    <script>
        $(function () {
            var data4Vue = {
                uri:'houses',
                beans:[]
            }
            var vue = new Vue({
                el:'#workingArea',
                data:data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri;
                        axios.get(url).then(function(response) {
                            vue.beans = response.data;
                        });
                        vue.$nextTick(function(){
                            imgAndInfoPageRegisterListeners(vue);
                        })
                    },
                    checklogin:function () {
                        var url = "forecheckLogin";
                        axios.get(url).then(function(response) {
                            if(0==response.data.code) {
                            }
                            else{
                                    alert("请先登录,登录成功即可查看哦！");
                                location.href="login";
                                }
                            });
                        return false;
                    }
                },
            })
        });
    </script>
    <!--<title>官网</title>-->
    <!--<div class="homepageDiv">-->
    <div th:replace="include/fore/home/carousel::html" ></div>

    <div id="workingArea">
        <div th:replace="include/fore/home/housePage::html" ></div>
    </div>
    <!--</div>-->
</div>




